@use "variables"as v;

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #333;
}

.wrapper_header {
  max-width: 310px;
  margin: 0 auto;

  @include v.me{
    max-width: 70%;
  }
}

.wrapper {
  max-width: 280px;
  margin: 0 auto;

  @include v.me{
    max-width: 78%
  }
}

.part2_wrapper{
  @include v.me{
    max-width: 60%
  }
}

a {
  text-decoration: none;
}

li{
  list-style-type: none;
}

img {
  max-width: 100%;
}

.part1 {
  background-color: #94D0C9;
  padding-bottom: 80vw;

  @include v.mb{
    padding-bottom: 63vw;
  }

  @include v.me{
    padding-bottom: 52vw;
  }

  @include v.pr{
  padding-bottom: 38vw;
  }
}

.part2 {
  background-color: #447AD4;
  color: #fff;
  padding-bottom: 20vw;

  @include v.mb{
    padding-bottom: 0;
  }

  @include v.pr{
    padding-top: 0;
  }
}

.part3 {
  background-color: #011E51;
  padding-top: 35vw;
  background-image: url(../images/gallary_top.png);
  background-size: contain;
  background-position: left -3px;

  @include v.me{
    padding-top: 2vw;
  }
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 5px #000E6B;
  margin-bottom: 15vw;
  padding-top: 40vw;
  font-family: 'Marcellus SC', serif;
}

h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 50vw auto 4vh auto;

  @include v.me{
    font-size: 1.7rem;
    margin: 10vw auto 4vh auto;
  }
}

.top_wave{
  margin-top: -8vh;
}
.top_wave img{
  vertical-align:bottom;
  margin-bottom: -.4vw;

  @include v.mb{
    margin-bottom: -2vw;
  }

  @include v.me{
    margin-bottom: -.5vw;
    margin-top: -7vw;
  }

  @include v.pr{
    margin-top: -10vw;
  }
}


