@use "variables"as v;

// @include v

/* ナブ */
.up_icon{
  padding-left: 250px;
}

.up_icon img{
  width: 90px;
  // width: 25vw;
  position: fixed;
  bottom:5vw;
  right: 5vw;
  z-index: 9999;

  // @include v.me{
  //   width: 18vw;
  // }

  // @include v.me{
  //   width: 12vw;
  // }

  // @include v.ab{
  //   width: 9vw;
  // }

  @include v.ab{
    width: 7vw;
    bottom:3vw;
    right: 3vw;
  }
}

#top_part {
  font-size: 1rem;
  padding-top: 30px;
  font-family: 'Marcellus SC', serif;
}


.menu{
  display: flex;
}

.top_video{
  width: 100%;
  margin-top: 20vw;
  margin-bottom: 80vw;
  text-align: center;

  @include v.mb{
    margin-bottom: 60vw;
  }

  @include v.me{
    margin-bottom: 45vw;
  }

  @include v.pr{
    margin-top: 10vw;
    margin-bottom: 18vw;
  }

  @include v.ab{
    margin-top: 4vw;
    margin-bottom: 12vw;
  }

  @include v.pc{
    margin-top: 4vw;
    margin-bottom: 12vw;
  }
}

.top_video video{
  width: 100%;

  @include v.pr{
    width: 60%;
  }

}

