@use "variables"as v;

// @include v

/* ナブ */
.up_icon{
  padding-left: 250px;
}

.up_icon img{
  width: 25vw;
  position: fixed;
  bottom:5vw;
  right: 5vw;
  z-index: 9999;
}

#top_part {
  font-size: 1rem;
  padding-top: 30px;
  font-family: 'Marcellus SC', serif;
}


.menu{
  display: flex;
}

.top_video{
  width: 100%;
  margin-top: 20vw;
  margin-bottom: 80vw;
  text-align: center;
}

.top_video video{
  width: 100%;
}

