@use "variables"as v;
// @include v
/* ----------Part1 SKILL---------- */

.skill_bigbox{
  @include v.me{
    display: flex;
  }
}

/* 泳ぐ魚 */
.skill_content_box{
  background-image: url(../images/TOP1/fish7.png);
  background-repeat: no-repeat;
  background-size: 17vw auto;
  background-position: 60vw 20vw;
  background-attachment: fixed;

  @include v.me{
    background-size: 8vw auto;
    background-position: 16vw 5vw;
  }

  @include v.pr{
    background-size: 5vw auto;
    background-position: 22vw 8vw;
  }

  @include v.mpc{
    background-size: 4vw auto;
  }
}

.skill_content_box2{
  background-image: url(../images/TOP1/fish8.png);
  background-repeat: no-repeat;
  background-size: 14vw auto;
  background-position: 20vw 20vw;
  background-attachment: fixed;

  @include v.me{
    background-size: 8vw auto;
    background-position: 50vw 50vw;
  }

  @include v.pr{
    background-size: 5vw auto;
  }

  @include v.mpc{
    background-size: 3vw auto;
    background-position: 50vw 16vw;

  }

}

.skill_content_box3{
  background-image: url(../images/TOP1/fish9.png);
  background-repeat: no-repeat;
  background-size: 16vw auto;
  background-position: 60vw 20vw;
  background-attachment: fixed;

  @include v.me{
    background-size: 8vw auto;
    background-position: 77vw 20vw;
  }

  @include v.pr{
    background-size: 5vw auto;
    background-position: 70vw 15vw;
  }

  @include v.mpc{
    background-size: 4vw auto;
    // background-position: 73vw 15vw;
  }
}
/* 泳ぐ魚終わり */

.skill_box{
  text-align: center;
  background-image: url(../images/TOP1/bubble2.png), url(../images/TOP1/bubble2.png);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 0 0, 60vw 205vw;
  margin: 0 2%;

  @include v.mb{
    background-position: 0 0, 50vw 205vw;
  }

  @include v.me{
    background-image: none;
    width: 30%;
  }
}

/* 円グラフ */
.skill_box img{
  width: 70vw;
  margin-bottom: 6vh;

  @include v.mpc{
    width: 67vw;
  }
}

/* アイコン */
.skill_content img{
  width: 50%;
  margin: 4vw auto 2vw auto;

  @include v.mb{
    width: 48%;;
  }

  @include v.me{
    width: 11vw;
  }

  @include v.pr{
    width: 7vw;
  }

  
}

h4{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.skill_content p{
  text-align-last: left;
  margin-bottom: 2rem;

  @include v.me{
    font-size: 0.8rem;
    height: 5rem;
    margin-bottom: 3rem;
  }

  @include v.pr{
    font-size: 1rem;
  }
}

.part1 {
  background-image: url(../images/TOP1/fish1.png), url(../images/TOP1/fish2.png), url(../images/TOP1/fish3.png), url(../images/TOP1/fish4.png), url(../images/TOP1/fish5.png), url(../images/TOP1/fish6.png);
  background-size: 20vw auto;
  background-repeat: no-repeat;
  background-position: 5vw 80vw, 5vw 490vw, 5vw 900vw, 75vw 510vw, 75vw 920vw, 75vw 1240vw;

  @include v.mb{
    background-size: 20vw auto;
    background-position: 5vw 80vw, 5vw 460vw, 5vw 840vw, 75vw 480vw, 75vw 860vw, 75vw 1150vw;
  }

  @include v.me{
    background-image: url(../images/TOP1/fish1.png), url(../images/TOP1/fish2.png), url(../images/TOP1/fish3.png), url(../images/TOP1/fish4.png), url(../images/TOP1/fish5.png), url(../images/TOP1/fish6.png),url(../images/TOP1/bubble2.png),url(../images/TOP1/bubble2.png),url(../images/TOP1/bubble2.png),url(../images/TOP1/bubble2.png),;
    background-size: 6%;
    background-position: 5vw 62vw, 3vw 182vw, 5vw 240vw, 91vw 62vw, 89vw 182vw, 91vw 240vw, 5vw 100vw, 87vw 140vw, 5vw 195vw, 87vw 230vw;
  }

  @include v.pr{
    background-position: 5vw 62vw, 3vw 145vw, 5vw 222vw, 87vw 62vw, 85vw 145vw, 87vw 222vw, 5vw 90vw, 87vw 120vw, 5vw 160vw, 87vw 180vw;
  }

  @include v.ab{
    background-position: 5vw 62vw, 3vw 145vw, 5vw 200vw, 87vw 62vw, 85vw 145vw, 87vw 200vw, 5vw 90vw, 87vw 120vw, 5vw 160vw, 87vw 180vw;
  }

  @include v.mpc{
    background-position: 4vw 35vw, 3vw 100vw, 5vw 150vw, 87vw 35vw, 85vw 100vw, 87vw 150vw, 5vw 55vw, 87vw 78vw, 5vw 110vw, 87vw 130vw;
  }

  @include v.pc{
    background-position: 5vw 40vw, 3vw 110vw, 5vw 162vw, 87vw 40vw, 90vw 110vw, 87vw 162vw, 5vw 60vw, 90vw 90vw, 5vw 122vw, 90vw 140vw;
  }
}


/* ----------Part2 HISTORY---------- */

/* 動画 */
.container-video {
  position: relative;
  height: 600px;
  overflow: hidden;
  opacity: 0.01;
  animation: load 1.5s 0.8s ease-out forwards;

  @include v.ab{
    height: auto;
  }
}

.container-video #video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 200%;
  height: auto;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1.05);
  z-index: -100;

  @include v.me{
    width: 150%;
  }

  @include v.pr{
    width: 100%;
  }



}

@keyframes load {
  100% {
    opacity: 1;
  }
}
.table-center {
  display: table;
  width: 100%;
  position: relative;
  height: 100%;
}
.table-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

/* 動画ここまで */


.face{
  text-align: center;
  margin-bottom: 10vh;

}

.face img{
  width: 55vw;

  @include v.me{
    width: 36vw;
  }

  @include v.pr{
    width: 20vw;
  }
}

.p_text p{
  margin-bottom: 30vw;
  position: relative;
  z-index: 999 ;
  /* z-index効かない？ */

}

.p_text p:nth-of-type(3){
  @include v.mb{
    margin-top: 22vw;
  }
}

.p_4th{
  @include v.pr{
    margin-top: 12vw;
  }
}

.right-wave{
  position: relative;
}


.l-wave1, .r-wave2, .l-wave3, .r-wave4{
  position: absolute;
  z-index: 100;

  @include v.pr{
    width: 20%;
  }
}


.l-wave1{
  margin: -80vw 0;
}

.r-wave2{
  top: 10vw;
  right: 0;

  @include v.me{
    top: .3vw;
  }
}

.l-wave3{
  margin: -110vw 0;

  @include v.me{
    margin: -60vw 0;
  }

}

.r-wave4{
  top: 10vw;
  right: 0;
}



/* ----------Part3 GALLARY---------- */
.door{
  display: flex;
  justify-content: space-around;
}


.door::before{
  background-image: url(../images/TOP3_con/light.png), url(../images/TOP3_con/fish.png), url(../images/TOP3_con/fish2.png);
  background-repeat: no-repeat;
  background-size: 50vw auto, 30vw auto,30vw auto;
  background-position:50% 3vw, 44vw 0, 0 0;
  opacity: 0;
  transition-duration: 2s
}

.door:hover{
  background-image: url(../images/TOP3_con/light.png), url(../images/TOP3_con/fish.png), url(../images/TOP3_con/fish2.png);
  background-repeat: no-repeat;
  background-size: 50vw auto, 30vw auto,30vw auto;
  background-position:50% 3vw, 44vw 0, 0 0;
  opacity: 1;

  @include v.mb{
    background-position: 50% 3vw, 36vw 0,0 0;
  }

  @include v.me{
    background-size: 45vw auto, 20vw auto,20vw auto;
    background-position: 50% 0, 48vw 0,9vw 0;
  }

  @include v.pr{
    background-size: 35vw auto, 15vw auto, 15vw auto;
    background-position: 50% 10vw, 45vw 10vw, 18vw 10vw;
  }

  @include v.ab{
    background-size: 33vw auto, 12vw auto, 12vw auto;
    background-position: 50% 10vw, 36vw 10vw, 13vw 10vw;
  }

  @include v.mpc{
    background-size: 28vw auto, 9vw auto, 9vw auto;
    background-position: 50% 6vw, 35vw 6vw, 16vw 6vw;
  } 

  @include v.pc{
    background-size: 25vw auto, 7vw auto, 7vw auto;
    background-position: 50% 10vw, 38vw 10vw, 15vw 10vw;
  }
  /* animation: fadeIn 3s ease 0s 1 normal;
  animation-name: fadein;
  animation-duration: 1.5s; */
}

/* @keyframes fadein{
  from{
  opacity: 0;
  transform: translatesy(20px);
  }
  to{
  opacity: 1;
  transform: translatey(0);
  }
} */
/* 子要素(ドア)にもアニメーションの設定がかかってしまう */

.door a{
  width: 30vw;
  height: auto;
  margin-top: 10vw;
  margin-bottom: 25vw;

  @include v.me{
    margin-bottom: 0;
    width: 25vw;
    height: 80vw;
  }

  @include v.pr{
    width: 20vw;
    height: 58vw;
  }

  @include v.ab{
    width: 10vw;
    height: 40vw;
  }

  @include v.mpc{
    height: 30vw;
  }
}



.door_works{
  margin-top: 10vw;
  margin-bottom: 25vw;
  background-image: url(../images/TOP3_con/door_works.png);
  width: 30vw;
  height: 243px;
  background-size: 60vw auto;
  display: block;
  cursor: pointer;
  background-position: right bottom;

  @include v.mb{
    height: 290px;
  }

  @include v.me{
    width: 26vw;
    height: 430px;
    background-size: 52vw auto;
  }

  // @include v.tb{
  //   width: 24vw;
  //   height: 500px;
  //   background-size: 48vw auto;
  // }

  @include v.pr{
    width: 19.5vw;
    height: 430px;
    background-size: 39vw auto;
  }

  @include v.ab{
    margin-top: 7vw;
    width: 12vw;
    height: 400px;
    background-size: 24vw auto;
  }

  @include v.mpc{
    margin-top: 5vw;
    width: 10vw;
    height: 325px;
    background-size: 20vw auto;
  }

  @include v.pc{
    width: 12vw;
    height: 490px;
    background-size: 24vw auto;
  }
}

.door_works:hover{
  background-position: left bottom;
}

.door_100{
  margin-top: 10vw;
  margin-bottom: 25vw;
  background-image: url(../images/TOP3_con/door_hundred.png);
  width: 30vw;
  height: 243px;
  background-size: 60vw auto;
  display: block;
  cursor: pointer;
  background-position: right bottom;

  @include v.mb{
    height: 290px;
  }

  @include v.me{
    width: 26vw;
    height: 430px;
    background-size: 52vw auto;
  }
  
  // @include v.tb{
  //   width: 24vw;
  //   height: 500px;
  //   background-size: 48vw auto;
  // }

  @include v.pr{
    width: 19.5vw;
    height: 430px;
    background-size: 39vw auto;
  }

  @include v.ab{
    margin-top: 7vw;
    width: 12vw;
    height: 400px;
    background-size: 24vw auto;
  }

  @include v.mpc{
    margin-top: 5vw;
    width: 10vw;
    height: 325px;
    background-size: 20vw auto;
  }

  @include v.pc{
    width: 12vw;
    height: 490px;
    background-size: 24vw auto;
  }
}

.door_100:hover{
  background-image: url(../images/TOP3_con/cando2.png);
  background-position: left bottom;
}



/* クリックしたとき */
/* #door_works.open {
  display: none;
  background-image: url(../images/TOP3_con/dooropen.png), url(../images/TOP3_con/dooropen.png);
  width: 30vw;
  height: auto;
  margin-top: 10vw;
  margin-bottom: 25vw;
} */
