//変数準備
$w-font: #fff;
$b-font: #333;

//関数準備
@function rem($px, $base: 16) {
  @return $px / $base * 1rem;
}

//mediaquery1
$mobile: 414px;

@mixin mb {
  @media (max-width: ($mobile)) {
    @content;
  }
}

// //mediaquery2
$tablet-med: 767px;

@mixin me {
  @media (max-width: ($tablet-med)) {
    @content;
  }
}

//mediaquery3
$tablet: 959px;

@mixin tb {
  @media (max-width: ($tablet)) {
    @content;
  }
}

//mediaquery4
$pro: 1023px;

@mixin pr {
  @media (max-width: ($pro)) {
    @content;
  }
}

//mediaquery5
$about: 1460px;

@mixin ab {
  @media (max-width: ($about)) {
    @content;
  }
}

//mediaquery6
$pc: 1918px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

