@use "variables"as v;

.works_body {
  background-color: #6794e0;
  color: #fff;
}

.works_body h2{
  padding-top: 20vw;
}

.works_wrapper {
  max-width: 87%;
  margin: 0 auto;

  @include v.me {
    max-width: 90%;
  }
}

.works_wrapper img {
  width: 80%;

  @include v.me {
    width: 93%;
  }

  @include v.pr {
    width: 100%;
  }
}

.works_title {
  margin-bottom: 3rem;

  @include v.me {
    font-size: 2rem;
    margin-top: 18rem;
  }
}

// サイトデザイン

.web_box {
  @include v.me {
    display: flex;
  }
}

.web_design {
  margin: 0 auto;
  text-align: center;
}

.web_design img:first-child {
  width: 60%;
  height: 60%;
}

.web_design img:nth-child(2) {
  width: 30%;
  height: 30%;

  @include v.tb {
    width: 27%;
    height: 27%;
  }
}

.web_design p {
  margin: 6rem 0 2rem 0;

  @include v.me {
    font-size: 1.5rem;
    margin: 8rem 0 3rem 0;
  }

  @include v.tb {
    font-size: .9rem;
  }

  @include v.pr {
    font-size: .9rem;
  }
}

.tatamiPart p {
  @include v.tb {
    margin: 8rem 0 1.5rem 0;
  }

  @include v.pr {
    margin: 8rem 0 1.2rem 0;
  }
}

.skillPage p{
  @include v.ab{
    margin: 8rem 0 4rem 0;
  }
}

.web_design a {
  color: rgb(95, 95, 95);
  background-color: rgb(208, 232, 253);
  border-radius: 10px;
  padding: .5rem;
}

.web_design a:hover {
  color: rgb(224, 224, 224);
  background-color: rgb(158, 162, 167);
}

.tatamiLink {
  margin-bottom: 1.5rem;
}

.design_img {
  display: flex;
}

.design_img img {
  margin: 0 auto;
}

// .design_img img{
//   width: 55%;
//   height: auto;
// }

// 名刺


.card_box {
  margin-top: 5rem;

  @include v.me {
    display: flex;
    align-items: center;
  }

  @include v.pr {
    justify-content: space-around;
  }
}

.card_design {
  text-align: center;
  margin-bottom: 3rem;
}

// ラベル・ロゴデザイン
.label_box {
  margin-top: 6rem;

  @include v.me {
    display: flex;
  }

  @include v.pr {
    justify-content: space-around;
  }
}

.label_design {
  text-align: center;
  margin-bottom: 3rem;

  @include v.me {
    width: 50%;
  }

  @include v.pr {
    width: 17%;
  }
}

// 写真
.photo_bigBox {
  @include v.me {
    display: flex;
    align-items: center;
  }

  @include v.tb {
    margin-bottom: 10rem;
  }

  @include v.pr {
    margin-bottom: 10rem;
    justify-content: space-around;
  }
}

.photo_box {
  margin-top: 6rem;
  text-align: center;
}

.photo_box img{
  @include v.pr{
    width: 90%;
  }
}