@use "variables"as v;

.works_body {
  background-color: #6794e0;
  color: #fff;
}

.works_wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.works_wrapper img{
  max-width: 100%;
}

.web_design img:first-child{
  width: 55%;
}

.web_design img:nth-child(2) {
  width: 40%;
}

.design_img{
  display: flex;
}

// .design_img img{
//   width: 55%;
//   height: auto;
// }